
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.sidebar
{
    background-color: rgb(24, 24, 24);
    color: rgb(200, 200, 200);
}

.fadein
{
    -webkit-animation: fadein 0.3s;
       -moz-animation: fadein 0.3s; 
        -ms-animation: fadein 0.3s;
         -o-animation: fadein 0.3s; 
            animation: fadein 0.3s;
}

body
{
    background: url('http://chat.veld.one/assets/img/bg.jpg');
    background-size: contain;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

li 
{
    list-style-type: none;
}
#msg-container
{
    overflow-y: auto;
}

.msg-instance-avatar
{
  float: left;
  width: 48px;
  height: 48px;
  border-radius: 90px;
  margin-right: 16px;
  margin-left: 4px;
}

.msg-container
{
  margin: 5px 5px;
}
.msg-instance-title
{
  font-weight: 400;
  font-size: 20px;
  
  margin: 2px 8px;
}

.msg-instance
{
    margin: 0px 0px;
    font-weight: 100;
    font-size: 12px;
    padding: 5px 5px;
    word-wrap: break-word;
}

.msg 
{

}

.system
{

}

.ui-bottom
{
    z-index: 1;
    margin-top: 0.5vw;
}

#ui-typing
{
    background-color: rgba(255,255,255,0.5);
    border-radius: 5px;

    padding: 0.5vh 0.75vw;
    
}

#ui-input-field 
{
  margin: -5px -5px;
  background-color: transparent;
  color: black;


  height: 30px;
  border-color: rgba(0,0,0,0.5);
  border-width: 3px;
  border-radius: 7px;
  transition: 0.1s;
  padding: 0px 0px;
}

#ui-input-field:hover
{
   border-radius: 0px;
   padding: 10px 10px;
}
