@import "variables";

:root {
  --embed-bg: #121212;
}

.embed {
  overflow: hidden;
  margin-top: 1rem;
  background-color: var(--embed-bg);
  padding: 0.25rem 1rem;
  border-radius: 4px;
  min-width: 8rem;
  max-width: 24rem;
  border-left: 4px solid #333333;
}

.embed-top {
  display: flex;
}

.embed * {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.embed-author {
  display: flex;
  margin-bottom: 0.5rem;
  align-items: center;
  color: #787878;
}

.embed-author-image {
  width: 18px;
  height: 18px;
  margin-right: 0.5rem;
  border-radius: 100%;
}

.embed-title {
  font-size: 18px;
  font-weight: 600;
}

.embed-footer {
  margin-top: 0.5rem;
  color: #787878;
}

.embed-icon {
  width: 4rem;
  height: 4rem;
}

.embed-image-container {
  overflow: hidden;
}

.embed-image {
  width: auto;
  max-height: 240px;
}

@include mobile {
  .embed-icon-container {
    display: none;
  }
}
