@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import "columns";
@import "variables";

@import "emoji";
@import "editor";
@import "autocomplete";
@import "embed";
@import "flex";

* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-overflow-scrolling: touch;
  -webkit-user-drag: none;
  margin: 0;
  padding: 0;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.sidebar {
  background-color: rgb(24, 24, 24);
  color: rgb(200, 200, 200);
}

.fadein {
  -webkit-animation: fadein 0.3s;
  -moz-animation: fadein 0.3s;
  -ms-animation: fadein 0.3s;
  -o-animation: fadein 0.3s;
  animation: fadein 0.3s;
}

body {
  background-size: contain;
  font-family: "Roboto", sans-serif;
  background: var(--body-bg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

li {
  list-style-type: none;
}

.msg-instance-avatar {
  width: 48px;
  height: 48px;
  border-radius: 90px;
  margin-right: 1rem;
  margin-left: 0.25rem;
}

.msg-container {
  margin: 5px 5px;
}

.main {
  display: flex;
  flex-direction: column;
}

@include desktop {
  .hide-desktop {
    display: none;
  }
}

@include mobile {
  .hide-mobile {
    display: none;
  }
}

.msg-instance-title {
  font-weight: 400;
  font-size: 20px;
  margin: 2px 8px;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.badge {
  background-color: var(--message-mention-bg);
  color: white;
  padding: 0.125rem 0.25rem;
  margin-left: 0.5rem;
  font-size: 14px;
  border-radius: 2px;
}

.msg-instance {
  margin: 0px 0px;
  font-weight: 100;
  font-size: 12px;
  padding: 5px 5px;
  word-wrap: break-word;

  a {
    color: inherit;
  }

  &.is-emoji-only img.emoji {
    height: 3rem;
    width: 3rem;
    margin: 0;
  }

  &.is-mention {
    padding: 0 4px;
    background: var(--message-mention-bg);
    color: var(--message-mention-color);
  }
}

.ui-bottom {
  z-index: 1;
  margin-top: 0.5vw;
}

#ui-typing {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  padding: 0.5vh 0.75vw;
}

html,
body {
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  color: white;
  flex-grow: 1;
}

.col-chat {
  position: relative;
}

.heading-wrapper {
  color: white;
  margin: 0.25rem 0;
  padding: 0.25rem 0;
}

.heading {
  font-size: 2rem;
  height: 2rem;
  font-weight: bold;
  padding: 16px 16px 16px 24px;
}

@include mobile {
  .heading {
    text-align: center;
    padding: 16px;
  }
}

.messages {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 8px 0;
  flex-grow: 1;
}

@include mobile {
  .messages {
    align-items: stretch;
    margin-bottom: 18px;
  }
}

$listWidth: 300px;

.member-list {
  box-sizing: border-box;
  position: fixed;
  right: 0;
  display: none;
  height: 100vh;
  overflow-y: scroll;
  padding: 1rem;
  width: $listWidth;
  background: var(--sidebar-bg);
}

.member-list-item {
  padding-bottom: 0.5rem;
  display: flex;
  justify-items: center;
}

.user-name {
  color: white;
  font-size: 18px;
}

.controls {
  position: relative;
  background: var(--editor-bg);
  color: var(--editor-color);
  display: flex;
  border-radius: 4px;
  padding: 16px 12px;
  flex-direction: row;
}

.typing-bar {
  margin: 0.25rem;
  font-size: 12px;
  color: var(--typing-color);
}

.controls-wrapper {
  background: var(--editor-container-bg);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.5rem 0.5rem 0 0.5rem;
  z-index: 100;
}

.sendbutton {
  height: 100%;
  width: 2rem;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
}

.typing-display {
  display: none;
}

.textfield {
  font-size: 1rem;
  vertical-align: middle;
  border: 0;
  flex: 1;
  background-color: transparent;
  color: white;
  overflow: hidden;
  text-overflow: ellipsis;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus .textfield:hover,
.textfield:active,
.textfield:focus {
  outline: none;
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 100px var(--active-bg) inset;
}

.msg-instance-title {
  color: var(--message-author-color);
  font-size: 1.25rem;
  font-weight: bold;
  word-break: break-all;
  white-space: nowrap;
  margin: 0 0 4px 0;
}

.msg-instance {
  font-size: 1rem;
  padding: 0;
  word-break: break-all;
}

.msg-instance-container {
  background: var(--message-bg);
  color: var(--message-color);
  margin: 8px 16px;
  width: auto;
  padding: 12px;
  border-radius: 4px;
  min-width: 120px;
  display: flex;
  flex-direction: row;
}

@include mobile {
  .msg-instance-container {
    margin: 4px 8px;
  }
}

.msg-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
}

.msg-instance-avatar {
  flex-shrink: 0;
  background-size: cover;
  background-position: center;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #212121;
}

::-webkit-scrollbar-thumb:hover {
  background: #212121;
}

@include desktop {
  body {
    margin-right: $listWidth;
  }

  .member-list {
    display: block;
  }

  .controls-wrapper {
    right: $listWidth;
  }
}
