@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import "columns";
@import "variables";

@import "emoji";
@import "editor";
@import "autocomplete";
@import "embed";
@import "flex";
@import "modal";
@import "button";

* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}

a,
button {
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1.5rem;
}

* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-overflow-scrolling: touch;
  -webkit-user-drag: none;
  margin: 0;
  padding: 0;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.sidebar {
  background-color: rgb(24, 24, 24);
  color: rgb(200, 200, 200);
}

.fadein {
  -webkit-animation: fadein 80ms;
  -moz-animation: fadein 80ms;
  -ms-animation: fadein 80ms;
  -o-animation: fadein 80ms;
  animation: fadein 80ms;
}

html {
  max-height: 100vh;
}

body {
  background-size: contain;
  font-family: "Roboto", sans-serif;
  background: var(--body-bg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

li {
  list-style-type: none;
}

.msg-instance-avatar {
  width: 48px;
  height: 48px;
  border-radius: 90px;
  margin-right: 1rem;
  margin-left: 0.25rem;
}

.chat-section {
  height: 100vh;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.msg-container {
  margin: 5px 5px;
}

.main {
  display: flex;
  flex-direction: row;
  width: 100vw;
}

@include desktop {
  .hide-desktop {
    display: none;
  }
}

@include mobile {
  .hide-mobile {
    display: none;
  }
}

.msg-instance-title {
  font-weight: 400;
  font-size: 20px;
  margin: 2px 8px;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.badge {
  background-color: var(--message-mention-bg);
  color: white;
  padding: 0.125rem 0.25rem;
  margin-left: 0.5rem;
  font-size: 14px;
  border-radius: 2px;

  &.is-secondary {
    background-color: var(--body-bg);
  }

  &.is-danger {
    background-color: var(--danger-bg);
    color: white;
  }
}

.icon {
  margin: 0.25rem;
}

.error-label {
  color: var(--danger-bg);
}

.msg-instance {
  font-weight: 100;
  font-size: 12px;
  padding: 5px 5px;
  word-wrap: break-word;

  a {
    color: inherit;
  }

  &.is-emoji-only img.emoji {
    height: 3rem;
    width: 3rem;
    margin: 0;
  }

  &.is-mention {
    padding: 0 4px;
    background: var(--message-mention-bg);
    color: var(--message-mention-color);
  }
}

.ui-bottom {
  z-index: 1;
  margin-top: 0.5vw;
}

#ui-typing {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  padding: 0.5vh 0.75vw;
}

html,
body {
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  color: white;
  flex-grow: 1;
}

.col-chat {
  position: relative;
}

.heading-wrapper {
  color: white;
  margin: 0.25rem 0;
  padding: 0.25rem 0;
}

.heading {
  padding: 16px 16px 16px 24px;
  display: flex;
  align-items: center;

  svg {
    margin-right: 32px;
  }
}

@include mobile {
  .heading {
    text-align: center;
    padding: 16px;
  }
}

.message-container {
  flex: 1;
  overflow-y: scroll;
}

.messages {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 8px 0;
}

@include mobile {
  .messages {
    align-items: stretch;
    margin-bottom: 18px;
  }
}

$listWidth: 300px;

.channel-list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 0.5rem;
  margin: 0.25rem 0;
  border-radius: 4px;

  &.is-read {
    opacity: 0.4;
  }

  &.is-selected,
  &:hover {
    opacity: 1;
  }

  &.is-selected {
    background-color: var(--body-bg);
  }

  &:hover {
    background-color: var(--body-bg);
  }
}

.sidebar {
  box-sizing: border-box;
  height: 100vh;
  overflow-y: scroll;
  padding: 1rem;
  width: $listWidth;
  background: var(--sidebar-bg);
}

@include mobile {
  .sidebar {
    display: none;
  }
}

.category {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.member-list-item {
  padding-bottom: 0.5rem;
  display: flex;
  justify-items: center;
  text-overflow: ellipsis;
  overflow: hidden;
}

.user-name {
  color: white;
  font-size: 18px;
}

.fit-text {
  text-overflow: ellipsis;
  overflow: hidden;
}

.controls {
  position: relative;
  background: var(--editor-bg);
  color: var(--editor-color);
  display: flex;
  border-radius: 4px;
  padding: 16px 12px;
  flex-direction: row;
}

.typing-bar {
  margin: 0.25rem;
  font-size: 12px;
  color: var(--typing-color);
}

.controls-wrapper {
  background: var(--editor-container-bg);
  padding: 0.5rem 0.5rem 0 0.5rem;
  flex-shrink: 0;
  z-index: 100;
}

.sendbutton {
  height: 100%;
  width: 2rem;
  text-align: center;
  border-radius: 4px;
  cursor: pointer;
}

.typing-display {
  display: none;
}

.textfield {
  font-size: 1rem;
  vertical-align: middle;
  border: 0;
  flex: 1;
  background-color: transparent;
  color: white;
  overflow: hidden;
  text-overflow: ellipsis;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus .textfield:hover,
.textfield:active,
.textfield:focus {
  outline: none;
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 100px var(--active-bg) inset;
}

.msg-instance-title {
  color: var(--message-author-color);
  font-size: 1.25rem;
  word-break: break-all;
  white-space: nowrap;
  margin: 0 0 4px 0;
}

.msg-instance {
  font-size: 1rem;
  padding: 0;
  word-break: break-all;
}

.msg-instance-container {
  color: var(--message-color);
  width: auto;
  padding: 12px;
  border-radius: 4px;
  min-width: 120px;
  display: flex;
  flex-direction: row;
}

@include mobile {
  .msg-instance-container {
    margin: 4px 8px;
  }
}

.msg-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
}

.msg-instance-avatar {
  flex-shrink: 0;
  background-size: cover;
  background-position: center;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #212121;
}

::-webkit-scrollbar-thumb:hover {
  background: #212121;
}

@include desktop {
  body {
    margin-right: $listWidth;
  }

  .member-list {
    display: block;
  }
}

img {
  max-width: 100%;
}

.login {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 300;

  .close {
    position: absolute;
    right: 0;
    top: 0;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--editor-bg);
    color: var(--editor-color);
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    margin: 0.5em;
    align-self: flex-end;
    cursor: pointer;
  }

  .cancel {
    text-align: center;
    margin-top: 1.5rem;
    color: white;

    a {
      color: inherit;
    }
  }

  &-inner {
    height: 100%;
    display: flex;
    flex-grow: 1;

    @include mobile {
      flex-direction: column;
    }

    > div {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-grow: 1;
      margin: 1em;
    }

    h1 {
      color: white;
      font-size: 1.5rem;
      text-align: center;
      margin-bottom: 1.5rem;
    }

    .qrcode {
      &-image {
        background: white;
        padding: 15px;
        border-radius: 10px;
      }
    }

    .camera-picker {
      padding: 0.5rem 1rem;
    }
  }
}

.btn-group {
  display: flex;

  .btn {
    border-radius: 0;
    border-right: solid 1px black;
  }

  .btn:first-child {
    border-radius: 5px 0 0 5px;
  }

  .btn:last-child {
    border-radius: 0 5px 5px 0;
    border-right: none;
  }
}

.btn {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  text-align: center;
  width: 10em;
  padding: 1em;
  background: var(--editor-bg);
  color: var(--editor-color);
  overflow: hidden;
  border-radius: 5px;

  i {
    display: block;
    font-size: 2rem;
    flex-grow: 1;
    margin-bottom: 0.25em;
  }

  &-sm {
    font-size: 0.75rem;
    padding: 0.75rem;

    i {
      font-size: 1.5rem;
    }
  }
}

.center {
  display: flex;
  justify-content: center;
}

.mt-1 {
  margin-top: 1rem;
}

input[type="file"].hidden {
  width: 1px;
  height: 1px;
  opacity: 0;
  position: fixed;
  top: -1;
  left: -1;
}
