@import "variables";

.modal {
  z-index: 998;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #00000044;
  display: none;

  &.open {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.modal-container {
  min-width: 40rem;
  border-radius: 8px;
}

.modal-header {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  background-color: var(--sidebar-bg);
  border-radius: 8px 8px 0px 0px;
}

.modal-close {
  padding: 1rem;
}

.modal-content {
  z-index: 999;
  background-color: var(--body-bg);
  padding: 2rem;
  border-radius: 0px 0px 8px 8px;
}
