:root {
  --body-bg: #333333;
  --sidebar-bg: #282828;
  --editor-bg: #444444;
  --editor-color: #ffffff;
  --editor-placeholder-color: #848484;
  --editor-container-bg: #333333;
  --typing-color: #848484;
  --message-bg: #212121;
  --message-color: #dcddcd;
  --text-secondary: #888888;
  --active-200: #1d88b9;
  --active-100: #0a638b;
  --message-mention-color: #ffffff;
  --message-author-color: #ffffff;
  --active-bg: #444444;
  --danger-bg: rgb(233, 44, 44);
}

@mixin mobile {
  @media only screen and (max-width: 1024px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: 1025px) {
    @content;
  }
}
