:root {
  --body-bg: #333333;
  --sidebar-bg: #282828;
  --editor-bg: #444444;
  --editor-color: #ffffff;
  --editor-placeholder-color: #848484;
  --editor-container-bg: #333333;
  --typing-color: #848484;
  --message-bg: #212121;
  --message-color: #dcddcd;
  --active-200: #1d88b9;
  --active-100: #0a638b;
  --message-mention-color: #ffffff;
  --message-author-color: #ffffff;
  --active-bg: #444444;
  --danger-bg: rgb(233, 44, 44);
}

body.miku {
  --body-bg: url("https://www.xtrafondos.com/wallpapers/hatsune-miku-chica-anime-4507.jpg");
  --message-bg: rgba(0, 0, 0, 0.5);
  --sidebar-bg: rgba(0, 0, 0, 0.5);
  --editor-bg: rgba(0, 0, 0, 0.75);
  --typing-color: white;
  --editor-container-bg: transparant;
}

@mixin mobile {
  @media only screen and (max-width: 1024px) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: 1025px) {
    @content;
  }
}
