@import "hypermd";

.CodeMirror {
  background: none;
  color: inherit;
  font: inherit;
  height: auto;
  width: 100%;
  font-size: var(--chakra-fontSizes-xs);

  &-gutters {
    display: none;
  }

  &-lines {
    padding: 0;
  }

  &-sizer {
    min-height: auto;
  }

  &-cursor {
    border-left: solid 1px #848484;
  }

  &-placeholder {
    color: var(--mono-600) !important;
  }

  &-selected {
    background: #0A68D8 !important;
  }

  &-code,
  .msg-instance {

    code,
    .cm-inline-code {
      font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
      color: inherit;

      &:not(.cm-formatting):not(.cm-hmd-indented-code) {
        background: rgba(0, 0, 0, .25);
        padding: 0 .25em;
        border-radius: 3px;
      }

      &.hmd-hidden-token {
        font-size: 0;
      }
    }
  }

  span.cm-builtin {
    color: darkgray;
  }
}

.cm-s-default .cm-header {
  color: unset;
}
