@import "variables";

:root {
  --embed-bg: #212121;
}

.embed {
  overflow: hidden;
  margin: 0.5rem 0;
  background-color: var(--embed-bg);
  padding: 0.25rem 1rem;
  border-radius: 4px;
  min-width: 8rem;
  max-width: 24rem;
}

.embed-top {
  display: flex;
}

.embed * {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
.embed p {
  overflow: hidden;
  word-wrap: break-word;
  overflow-wrap: break-all;
  font-size: 14px;
}

.embed-author {
  display: flex;
  margin-bottom: 0.5rem;
  align-items: center;
}

.embed-author-image {
  width: 18px;
  height: 18px;
  margin-right: 0.5rem;
  border-radius: 100%;
}

.embed-title {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.embed-footer {
  margin-top: 0.5rem;
  color: #787878;
}

.embed-info {
  flex: 1;
}

.embed-icon {
  width: 4rem;
  margin: 0;
  border-radius: 4px;
}

.embed-image-container {
  overflow: hidden;
}

.embed-image {
  width: auto;
  max-height: 240px;
}

.embed-icon-container {
  width: 4rem;
  height: 4rem;
  margin-left: 1rem;
  overflow: hidden;
}

@include mobile {
  .embed-icon-container {
    display: none;
  }
}
