.flex {
  display: flex;

  &.text-centered {
    align-items: center;
  }

  &.text-bottom {
    align-items: flex-end;
  }

  &.column {
    flex-direction: column;
  }

  &.space-between {
    justify-content: space-between;
  }

  &.is-right {
    flex-direction: flex-end;
  }

  &.align-bottom {
    align-items: flex-end;
  }
}
